$font-family: "Times New Roman";
$inner-gap: 20px;
$outer-margin: 25px;

body {
	font: $font-family;
}

.title {
	font: bold 40px $font-family;
	text-align: center;
}

.outer {
	display:table;
	.inner {
	    display:table-cell;
	    vertical-align:middle;
	    text-align: center;
	}
}