.post-tweet-ui {
	width: 360px;
	border: 1px solid;
	padding: 10px 10px 8px;

	.post-bottom-div {
		width: 360px;
		margin-top: 4px;
		box-sizing: border-box;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.post-result {
			margin-right: auto;
		}

		.post-success {
			color: #008400;
		}

		.post-error {
			color: #e00000;
		}
	}
	
	
}