@mixin center() {
	display: flex;
	justify-content: center;
}

.nav-tabs {
	@include center;
	list-style-type: none;
	padding: 0px; // Removes padding from invisible bullets

	.nav-link {
		font-size: 14px;
		padding: 6px;
		border-radius: 6px 6px 0px 0px;
		&:hover {
			background-color: #d8d8d8;
		}
	}
	.nav-item {
		.active {
			background-color: #b4caf3;
		}
	}
}

.tab-content > div {
	@include center;
	width: 100%;
}
