.home-timeline {
	display:inline-block;
	vertical-align: top;
	text-align: left;

	.title {
		font-size: 30px;
		text-align: center;
	}

	.button-div {
		.update-timeline {
			margin-bottom: 4px;
			text-align: left;
		}
	}

	.error-div {
		font-size: 12px;
		margin-top: 5px;
	}

	.tweets {
		border: 2px solid;
		margin-top: 10px;

		.row {
			border-bottom: 1px solid #bbbbbb;

			&:last-child {
				border-bottom: none;
			}

			&:nth-child(odd) {
				background-color:#e8f5fd;
			}

			&:nth-child(even) {
				background-color:#e9e9e9;
			}
		}
	}
}
