.open-reply {
	position: absolute;
	z-index: 10;
	right: 4px;
	bottom: 4px;
}

#background-overlay {
	background-color: #00000066;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	.modal-container {
		box-sizing: border-box;
		border: 1px solid black;
		width: 40%;
		z-index: 110;
		position: fixed;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 10px;
		padding: 20px;
		background-color: white;

		.close-reply-modal-span {
			font-size: 28px;
			float: right;
			color: #aaaaaa;
			&:hover {
				color: #000000;
				cursor: pointer;
			}
		}

		.modal-content {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			.tweet {
				background-color: white;
				border-bottom: 0px;
			}

			.reply-input-container {
				position: relative;
				margin-top: 10px;

				.char-count {
					position: absolute;
					z-index: 10;
					pointer-events: none;
					right: 4px;
					bottom: 4px;
					opacity: .5;
				}

				.reply-input {
					resize: none;
					width: 100%;
					position: relative;
					height: 100%;
					box-sizing: border-box;
					padding: 6px;
					height: 80px;
				}
			}
			
			.reply-modal-bottom-div {
				display: flex;
				justify-content: flex-end;
				margin-top: 20px;
				.close-reply-modal-button {
					margin-right: 10px;
				}

				.reply-result {
					margin-right: auto;
				}

				.reply-success {
					color: #008400;
				}

				.reply-error {
					color: #e00000;
				}
			}
		}
	}
}