.timeline-div {

	display:inline-block; //Makes it obey text-aligning.
	margin: 0px 10px 20px;
	text-align: left;

	.update-timeline {
		margin-bottom: 4px;
		text-align: left;
	}

	.error-div {
		font-size: 12px;
		margin-top: 5px;
	}

	.tweets {
		border: 2px solid;
		margin-top: 10px;

		.row {
			border-bottom: 1px solid #bbbbbb;

			&:last-child {
				border-bottom: none;
			}

			&:nth-child(odd) {
				background-color:#e8f5fd;
			}

			&:nth-child(even) {
				background-color:#e9e9e9;
			}

		}
	}
}