.timeline-comp {
	display:inline-block;
	vertical-align: top;
	text-align: left;

	.title {
		font-size: 30px;
		text-align: center;
	}

	.button-div {
		.update-timeline {
			margin-bottom: 4px;
			text-align: left;
		}
	}

	.tweets {
		border: 2px solid;
		margin-top: 10px;

		.row {
			border-bottom: 1px solid #bbbbbb;

			&:last-child {
				border-bottom: none;
			}
		}
	}
}