
.timeline-div {
	&:nth-child(1) {
		margin-left: 40px;
		margin-right: 40px;
		width: calc(55% - 80px);
	}

	&:nth-child(2) {
		margin-right: 40px;
		width: calc(45% - 80px);
	}

	display:inline-block; //Makes it obey text-aligning.
	//margin: 0px 40px 20px; (previous margins for single timeline)
	vertical-align: top;
	text-align: left;

	.update-timeline {
		margin-bottom: 4px;
		text-align: left;
	}

	.error-div {
		font-size: 12px;
		margin-top: 5px;
	}

	.tweets {
		border: 2px solid;
		margin-top: 10px;

		.row {
			border-bottom: 1px solid #bbbbbb;

			&:last-child {
				border-bottom: none;
			}

			&:nth-child(odd) {
				background-color:#e8f5fd;
			}

			&:nth-child(even) {
				background-color:#e9e9e9;
			}

		}
	}
}