$user-div-width: 160px;
$names-width: 140px;
$names-padding: ($user-div-width - $names-width) / 2;

@mixin names() {
	max-width: $names-width;
	overflow: hidden;
}

.tweet {
	box-sizing: border-box;
	justify-content: left;
	align-items: center;
	display: inline-grid;
	grid-template-areas: "user-grid content-grid";
	padding: 20px 10px 20px 0;
	width: 100%;
	border-bottom: 1px solid #bbbbbb;
	position: relative;

	.open-reply {
		position: absolute;
		z-index: 5;
		right: 4px;
		bottom: 4px;
	}

	.reply-modal {
		border: 1px solid black;
		width: 500px;
		z-index: 10;
		position: absolute;
		right: 4px;
		padding: 10px;
		background-color: white;

		.close-reply-modal-span {
			font-size: 28px;
			float: right;
			color: #aaaaaa;
			&:hover {
				color: #000000;
				cursor: pointer;
			}
		}

		.tweet {
			border-bottom: 0px;
		}

		.reply-input-container {
			width: 100%;
			position: relative;
			margin-top: 10px;

			.reply-input {
				resize: none;
				width: 100%;
				position: relative;
				height: 80px;
				box-sizing: border-box;
				padding: 6px;
			}
		}

		.reply-modal-buttons-div {
			display: flex;
			justify-content: flex-end;
			margin-top: 5px;
			.close-reply-modal-button {
				margin-right: 10px;
			}
		}
	}

	.user-div {
		grid-area: user-grid;
		text-align: center;
		width: $user-div-width;

		.profile-image {
			border-radius: 50%;
			width: 80px;
		}

		.display-name {
			@include names;
			font-size: 15px; 
			font-weight: bold;
			padding: 4px 0 2px $names-padding;
		}

		.twitter-handle {
			@include names;
			font-size: 12px;
			padding: 1px 10px 0 $names-padding;
		}

	}

	.content-div {
		grid-area: content-grid;
		overflow: hidden;

		.date {
			font-size: 11px;
			font-weight: italic;
		}

		.message {
			padding-top: 6px;
			font-size: 12px;

			.tweet-link {
				color: black;
				text-decoration: none;
			}
		}
	}
}