@import "TimelineUI";

.user-timeline {

	.button-div {
		display: flex;
		justify-content: flex-end;
	}

	.error-div {
		font-size: 12px;
		margin-top: 5px;
	}

	.tweets {
		.row {
			&:nth-child(odd) {
				background-color:#f5f8fa;
			}

			&:nth-child(even) {
				background-color:#1da1f2;
			}
		}
	}
}