#title {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-family: "Montserrat";
}

#button-div {
	text-align: center;
}

#tweets {
	border-style: solid;
	border-width: 2px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Times New Roman";
}

.tweet-link {
	text-decoration: none;
}

.tweet {
	display: inline-grid;
	grid-template-areas: "user-grid content-grid";
	color: black;
	padding: 20px;
}

.user-div {
	text-align: center;
	grid-area: user-grid;
	width: 220px;
}

.profile-image {
	width: 84px;
}

.display-name {
	font-size: 22px;
	font-weight: bold;
	padding: 2px;
}

.twitter-handle {
	font-size: 16px;
}

.content-div {
	grid-area: content-grid;
}

.date {
	font-style: italic;
	font-size: 16px;
	margin-top: 48px;
}

.message {
	margin-top: 10px;
	font-size: 22px;
	margin-top: 8px;
}

.odd-row {
	background-color:#e8f5fd;
}

.even-row {
	background-color:#e9e9e9;
}
