#title {
	text-align: center;
	font-weight: bold;
	font-size: 50px;
	font-family: "Montserrat";
}

#tweets {
	border-style: solid;
	border-width: 2px;
	margin-right: 40px;
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "Times New Roman";
}

.tweet {
	display: inline-block;
}

.user-div {
	display: inline-block;
	width: 200px;
	text-align: center;
}

.display-name {
	font-size: 18px;
	font-weight: bold;
}

.twitter-handle {
	font-size: 14px;
}

.content-div {
	float: right;
	margin
}

.date {
	font-style: italic;
	font-size: 14px;
	margin-top: 24px;
}

.message {
	margin-top: 10px;
	font-size: 18px;
	margin-top: 4px;
}

.odd-row {
	background-color:#e8f5fd;
	color:black;
	padding:14px;
}

.even-row {
	background-color:#e9e9e9;
	color:black;
	padding:14px;
}

